
*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #e8e8e8;
}

.texto{
    position: absolute;
    width: 40%;
    height: 60%;
    left: 10%;
    top: 15%;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 577;
    font-size: 32px;
    line-height: 150%;
    background-color: #e8e8e8;
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,.texto:active{
    border: none;
    outline: none;
}

.cuerpo__terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 76%;
}

.cuerpo__terminos p{
    font-family: inter;
    color: #46565f;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cuerpo__botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 80%;
}

.cuerpo__botones__encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    border: 1px, solid,black;
    font-family: inter;
    font-weight: 280;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.cuerpo__botones__desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #d8dfe8;
    border: 1px, solid, #0a3871;
    border-radius: 24px;
    font-family: inter;
    font-style: normal;
    font-weight: 280;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}

.cuerpo__botones__desencriptar:hover, .cuerpo__botones__encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.cuerpo__mensaje{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: white;
    box-shadow: 0px, 24px, 32px, -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.cuerpo__mensaje__encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.cuerpo__mensaje__encriptado h2{
    width: 60%;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;

}

.cuerpo__mensaje__encriptado p{
    width: 80%;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.cuerpo__mensaje img{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    left: 30px;
    top: 15%;
}

/* responsive */

@media (max-width: 57.5em){
    .cuerpo{
        display: flex;
        flex-direction: row;
    }

    .cuerpo__botones__encriptar{
        width: 100%;
    }

    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .cuerpo__terminos{
        width: 80%;
        left: 10%;
        top: 65%;
    }

    .cuerpo__terminos p{
        font-size: 16px;
    }

    .cuerpo__botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .cuerpo__botones__encriptar, .cuerpo__botones__desencriptar{
        width: 48%;
        border-radius: 16px;
    }

    .cuerpo__botones__encriptar:hover, .cuerpo__botones__desencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .cuerpo__mensaje{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;

    }

    .cuerpo__mensaje__encriptado{
        width: 100%;
        top: 5%
    }

    .cuerpo__mensaje img{
        top: 0;
        display: none;
        visibility: hidden;

    }
}